<%- include("partials/header") %>
<%- include("partials/nav") %>

<div class="container">
    <div class="row mb-3">
        <div class="col-md-12">
            <h2><%= target.name %></h2>
        </div>
    </div>
    <div class="row">
        <% posts.forEach(post => { %>
            <a href="/post/<%= post._id %>">
                <div class="col-md-4 mb-3" style="">
                    <div class=""
                         style="height: 12em; background-repeat: no-repeat; background-size:cover; background-position: center; background-image: url(<%= post.link %>); "></div>
                    <div class="card-title" style="color: white;"><%= post.name %></div>
                    <div class="card-subtitle" style="opacity: 1;"><a style="color: inherit;"
                                                                      href="/user/<%= post.owner.username %> "><%= post.owner.username %></a>
                        :: <a style="color: inherit;"
                              href="/category/<%= post.category.name %> "><%= post.category.name %></a></div>

                </div>
            </a>
        <% }); %>
    </div>
</div>

<%- include("partials/footer") %>